<div class="qrcode-footer">
	<div class="qrcode-footer-in">
		<div class="homepage-footer-wrap">
			<ul>
				<li class=""><a href="https://github.com/manydots/qrcode" target="_blank">GitHub</a></li>
				<li class=""><a href="https://github.com/manydots/node" target="_blank">Socket.Io</a></li>
				<li class=""><a href="https://github.com/manydots/node-server" target="_blank">nodeServer</a></li>
				<li class=""><a href="https://github.com/manydots/ts-react-learn" target="_blank">tsReactLearn</a></li>
			</ul>
		</div>
		<div class="copyright-footer-wrap">
			<div class="copyright-in">
				浙ICP备17026693号-2 ©2018-2019 Mo.chen
			</div>
		</div>
	</div>
</div>