<div class="qrcode-top">
	<div class="qrcode-top-content w990">
		welcome! this's a qrcode-created demo!

		<% if (pageType == 'upload') { %>
		  	<a class="BackTo" href="/" >BackTo</a>
			
		<% } %>
	</div>
</div>